# MUSA 5090 Final Project

This file is used for data exploration and feature engineering in order to build a machine learning model that predicts the sale price of properties in the Philadelphia.

In [1]:
from google.colab import drive # do not include this import in the cloud version
import geopandas as gpd
import pandas as pd
import numpy as np
import statsmodels.api as sm

## Datasets

Firstly, we import the required libraries and load our dataset. The dataset, opa_properties, is avaialable on OpenDataPhilly.

In [2]:
# mount drive to access the dataset
# only for data exploration purpose
# do not inlcude when deploy to cloud
drive.mount('/content/drive')

Mounted at /content/drive

In [54]:
# read in properties dataset
opa_dir = '/content/drive/MyDrive/musa-final-proj/opa_properties_public.csv'
properties = pd.read_csv(opa_dir)
properties.head(200)

<ipython-input-54-0149586cf5df>:3: DtypeWarning: Columns (4,16,25,27,48,76) have mixed types. Specify dtype option on import or set low_memory=False.
  properties = pd.read_csv(opa_dir)

,objectid,assessment_date,basements,beginning_point,book_and_page,building_code,building_code_description,category_code,category_code_description,census_tract,...,utility,view_type,year_built,year_built_estimate,zip_code,zoning,pin,building_code_new,building_code_description_new,shape
0,445763190,2022-05-24 12:13:13-04:00,NaN,NEC DOVER ST,NaN,SC,VACANT LAND COMMER < ACRE,6,VACANT LAND,172.0,...,NaN,I,NaN,NaN,19132.0,CMX1,1001321879,NaN,NaN,SRID=2272;POINT ( 2689039.51193106 252319.375...
1,445763191,2022-05-24 12:13:13-04:00,NaN,SEC 27TH ST,NaN,SR,VACANT LAND RESIDE < ACRE,6,VACANT LAND,32.0,...,NaN,I,NaN,NaN,19146.0,RSA5,1001179696,NaN,NaN,SRID=2272;POINT ( 2686489.39071898 229330.622...
2,445763192,2022-05-24 12:13:13-04:00,NaN,NWC 16TH ST,NaN,T38,ROW B/OFF-STR 2 STY STONE,3,MIXED USE,373.0,...,NaN,I,1950.0,NaN,19145.0,CMX1,1001408261,820,ROW MIXED-COM/RES-BLT AS RES,SRID=2272;POINT ( 2690626.09996523 221499.086...
3,445763193,2022-05-24 12:13:13-04:00,NaN,"343'7 1/8"" W 31ST ST",NaN,SR,VACANT LAND RESIDE < ACRE,6,VACANT LAND,169.0,...,NaN,I,NaN,NaN,19132.0,RSA5,1001168670,NaN,NaN,SRID=2272;POINT ( 2687281.27004074 250386.258...
4,445763194,2022-05-24 12:13:13-04:00,NaN,197' W OF 19TH ST,NaN,ZL0,MISC FUNERAL HOME MASONRY,4,COMMERCIAL,134.0,...,NaN,A,1920.0,NaN,19130.0,RM1,1001494378,246,FUNERAL HOME,SRID=2272;POINT ( 2691553.59778215 240243.694...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,445763289,2022-05-24 12:13:13-04:00,NaN,"334'11 1/4 "" N",NaN,SC,VACANT LAND COMMER < ACRE,6,VACANT LAND,164.0,...,NaN,I,NaN,NaN,19133.0,CMX2,1001598005,NaN,NaN,SRID=2272;POINT ( 2698753.98725273 249011.820...
196,445763290,2022-05-24 12:13:13-04:00,NaN,290' W OF 31ST ST,NaN,SR,VACANT LAND RESIDE < ACRE,6,VACANT LAND,151.0,...,NaN,I,NaN,NaN,19121.0,RSA5,1001408622,NaN,NaN,SRID=2272;POINT ( 2687105.63915840 248735.226...
197,445763291,2022-05-24 12:13:13-04:00,NaN,"74'7 3/4""N TIOGA",NaN,SC,VACANT LAND COMMER < ACRE,6,VACANT LAND,201.0,...,NaN,I,NaN,NaN,19140.0,CMX2,1001625620,NaN,NaN,SRID=2272;POINT ( 2694809.80616473 256111.430...
198,445763292,2022-05-24 12:13:13-04:00,NaN,SW COR 50TH ST,NaN,S30,ROW W/OFF STR 2 STY MASON,3,MIXED USE,104.0,...,NaN,I,1925.0,NaN,19139.0,RSA5,1001412740,820,ROW MIXED-COM/RES-BLT AS RES,SRID=2272;POINT ( 2677389.92105706 240959.320...
199,445763293,2022-05-24 12:13:13-04:00,NaN,NWC 17TH ST,NaN,S30,ROW W/OFF STR 2 STY MASON,3,MIXED USE,39.0,...,NaN,I,1920.0,NaN,19145.0,CMX2,1001291367,820,ROW MIXED-COM/RES-BLT AS RES,SRID=2272;POINT ( 2690643.12749022 225672.558...

In [55]:
# check attribtue name
properties.columns.tolist()

['objectid',
 'assessment_date',
 'basements',
 'beginning_point',
 'book_and_page',
 'building_code',
 'building_code_description',
 'category_code',
 'category_code_description',
 'census_tract',
 'central_air',
 'cross_reference',
 'date_exterior_condition',
 'depth',
 'exempt_building',
 'exempt_land',
 'exterior_condition',
 'fireplaces',
 'frontage',
 'fuel',
 'garage_spaces',
 'garage_type',
 'general_construction',
 'geographic_ward',
 'homestead_exemption',
 'house_extension',
 'house_number',
 'interior_condition',
 'location',
 'mailing_address_1',
 'mailing_address_2',
 'mailing_care_of',
 'mailing_city_state',
 'mailing_street',
 'mailing_zip',
 'market_value',
 'market_value_date',
 'number_of_bathrooms',
 'number_of_bedrooms',
 'number_of_rooms',
 'number_stories',
 'off_street_open',
 'other_building',
 'owner_1',
 'owner_2',
 'parcel_number',
 'parcel_shape',
 'quality_grade',
 'recording_date',
 'registry_number',
 'sale_date',
 'sale_price',
 'separate_utilities',
 'sewer',
 'site_type',
 'state_code',
 'street_code',
 'street_designation',
 'street_direction',
 'street_name',
 'suffix',
 'taxable_building',
 'taxable_land',
 'topography',
 'total_area',
 'total_livable_area',
 'type_heater',
 'unfinished',
 'unit',
 'utility',
 'view_type',
 'year_built',
 'year_built_estimate',
 'zip_code',
 'zoning',
 'pin',
 'building_code_new',
 'building_code_description_new',
 'shape']

Upon checking the dataset, we found the following attributes from the opa properties  to be potentially useful to predicting property values. We listed them here:

- basements
- central air
- fireplaces
- garage type
- number of bedrooms
- number of bathrooms
- number of rooms
- number stories
- parcel number
- quality grade
- total area
- view
- year built

Based on our prior knowledge in house price and the given data set, we believe that the sale price of houses may be related to both the internal and geographical attributes of the houses. Internal attributes refer to factors such as the age of the house, the number of bedrooms and bathrooms, the presence of amenities, and the overall condition of the house.

Regarding internal attributes, we selected the following variables from: the year the house was built, the number of bedrooms, the number of bathrooms, the number of air conditioning units, basement condition, the number of fireplaces, garage condition, the number of stories, total area, livable area, heating condition, view category, quality grade and the type of building description. Other indicators related to house sale prices, such as topography, internal condition, and external condition, were not included in the scope of indicators due to their correlation with the selected indicators.

In [56]:
# some baseline data processing work
properties_mdl = properties[['basements',
                          'category_code',
                          'census_tract',
                          'central_air', #
                          'fireplaces', #
                          'garage_type', #
                          'market_value',
                          'number_of_bedrooms', #
                          'number_of_bathrooms', #
                          'number_of_rooms', #
                          'number_stories',#
                          'parcel_number',
                          'quality_grade', #
                          'sale_price',
                          'type_heater', #
                          'total_area', #
                          'total_livable_area', #
                          'view_type', #
                          'building_code_description_new', #
                          'zip_code',
                          'year_built']] #

## Feature Enginnering

We calculated the age of the houses by subtracting 2024 from the year they were built and used it as a new time measurement indicator. Since the number of bedrooms and bathrooms are correlated, we used the total number of rooms as a new indicator. Specific quantities or detailed conditions of air conditioning, basement, fireplace, garage, and heating did not have a significant impact individually, but their presence or absence had a significant impact on house prices. Therefore, we created new binary variables for each of them. Regarding the number of stories, we collapsed their categories into single, double, and multiple. For total area, we chose the larger of the total area and livable area as the measurement indicator and applied a logarithmic transformation to achieve a normal distribution. For the view type near the house, we summarized the categories into three classes: Scenic (including Cityscape/Skyline, Flowing Water, Park/Green Area), Typical, and Others (Urban). For quality and building type, we performed similar processing, combining indicators above “average” into a “good” category and those “average” or below into a “bad” category.

In [57]:
# calculate age
properties_mdl['Age'] = 2024 - properties_mdl['year_built']

<ipython-input-57-77504cdb35af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['Age'] = 2024 - properties_mdl['year_built']

In [58]:
# recode rooms and view variables
properties_mdl['numRooms'] = np.select(
    [(properties_mdl['number_of_bedrooms'].isna()) & (~properties_mdl['number_of_bathrooms'].isna()),
     (properties_mdl['number_of_bathrooms'].isna()) & (~properties_mdl['number_of_bedrooms'].isna()),
      (properties_mdl['number_of_bathrooms'].isna()) & (properties_mdl['number_of_bedrooms'].isna())],
    [properties_mdl['number_of_bathrooms'],
     properties_mdl['number_of_bedrooms'],
     0],
    default=properties_mdl['number_of_bedrooms'] + properties_mdl['number_of_bathrooms']
)


properties_mdl['view'] = np.select(
    [properties_mdl['view_type'].isin(['I', '0']) | properties_mdl['view_type'].isna(),
     properties_mdl['view_type'].isin(['A', 'B', 'C'])],
    ['Typical','Scenic'],
    default='Urban'
)

<ipython-input-58-e6e0a85815da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['numRooms'] = np.select(
<ipython-input-58-e6e0a85815da>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['view'] = np.select(

In [59]:
# recode amenities variables
properties_mdl['hasAC'] = np.where(properties_mdl['central_air'].isin(['1', 'Y']), 'Y', 'N')
properties_mdl['hasBasement'] = np.where(properties_mdl['basements'].isin(['1', '4', 'A', 'B', 'C', 'D', 'E', 'F']), 'Y', 'N')
properties_mdl['hasFireplace'] = np.where((properties_mdl['fireplaces'] == 0) | (properties_mdl['fireplaces'].isna()), 'N', 'Y')
properties_mdl['hasGarage'] = np.where((properties_mdl['garage_type'] == 0) | (properties_mdl['garage_type'].isna()), 'N', 'Y')
properties_mdl['stories'] = np.where(properties_mdl['number_stories'] == 1, 'single', np.where(properties_mdl['number_stories'] == 2, 'double', 'multiple'))
properties_mdl['area'] = np.where(properties_mdl['total_livable_area'] > properties_mdl['total_area'], properties_mdl['total_livable_area'], properties_mdl['total_area'])
properties_mdl['hasHeater'] = np.where((properties_mdl['type_heater'] == 0) | (properties_mdl['type_heater'].isna()), 'N', 'Y')
properties_mdl['quality'] = np.where(properties_mdl['quality_grade'].isin(['4', '5', '6', 'A', 'A+', 'A-', 'B', 'B+', 'B-', 'S', 'S+', 'X-']), 'Good', 'Bad')
properties_mdl['logarea'] = np.log(properties_mdl['area'])

<ipython-input-59-e6d71ae298e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['hasAC'] = np.where(properties_mdl['central_air'].isin(['1', 'Y']), 'Y', 'N')
<ipython-input-59-e6d71ae298e9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['hasBasement'] = np.where(properties_mdl['basements'].isin(['1', '4', 'A', 'B', 'C', 'D', 'E', 'F']), 'Y', 'N')
<ipython-input-59-e6d71ae298e9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['hasFireplace'] = np.where((properties_mdl['fireplaces'] == 0) | (properties_mdl['fireplaces'].isna()), 'N', 'Y')
<ipython-input-59-e6d71ae298e9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['hasGarage'] = np.where((properties_mdl['garage_type'] == 0) | (properties_mdl['garage_type'].isna()), 'N', 'Y')
<ipython-input-59-e6d71ae298e9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['stories'] = np.where(properties_mdl['number_stories'] == 1, 'single', np.where(properties_mdl['number_stories'] == 2, 'double', 'multiple'))
<ipython-input-59-e6d71ae298e9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['area'] = np.where(properties_mdl['total_livable_area'] > properties_mdl['total_area'], properties_mdl['total_livable_area'], properties_mdl['total_area'])
<ipython-input-59-e6d71ae298e9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['hasHeater'] = np.where((properties_mdl['type_heater'] == 0) | (properties_mdl['type_heater'].isna()), 'N', 'Y')
<ipython-input-59-e6d71ae298e9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['quality'] = np.where(properties_mdl['quality_grade'].isin(['4', '5', '6', 'A', 'A+', 'A-', 'B', 'B+', 'B-', 'S', 'S+', 'X-']), 'Good', 'Bad')
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
<ipython-input-59-e6d71ae298e9>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['logarea'] = np.log(properties_mdl['area'])

In [60]:
# recode building conditions
condition1 = properties_mdl['building_code_description_new'].str.contains('ROW', case=False).fillna(False).values
condition2 = properties_mdl['building_code_description_new'].str.contains('TWIN', case=False).fillna(False).values
properties_mdl['buildingdis'] = np.select(
    [condition1,condition2],
    ['Row','TWIN'],
    default='Other')

<ipython-input-60-54992bc50a52>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties_mdl['buildingdis'] = np.select(

In addition to these transformations, we excluded unreasonable outliers in the training data set. We selected houses where age is less than 500 years, room count is less than 30, and both total house area and livable house area are non-zero or missing. We also excluded houses with area larger than 50,000 square feet because these are not typical single family houses. We then limited the housing prices in the training data set to be below $2,000,000 to reduce the influence of extreme values on the model.

In [61]:
# delete extreme values
properties_mdl = properties_mdl[
    (properties_mdl['Age'] < 500) &
    (properties_mdl['sale_price'] < 2000000) &
    (properties_mdl['sale_price'] > 10000) &  # Include the condition for sale_price
    (properties_mdl['numRooms'] < 30) &
    (properties_mdl['total_livable_area'] != 0) &
    (~properties_mdl['total_area'].isna()) &
    (properties_mdl['area'] < 50000)]

In [24]:
# check the original data size
properties.shape[0]

582957

In [25]:
# check the processed data size
properties_mdl.shape[0]

356342

## OLS Regression

In [67]:
# construct dependent and independent variables
X = properties_mdl[['Age', 'numRooms', 'hasBasement', 'hasAC', 'quality', 'buildingdis', 'hasFireplace', 'hasGarage', 'stories', 'logarea', 'view', 'zip_code']]
y = properties_mdl['sale_price']
X['zip_code'] = X['zip_code'].astype(str)
X = X.dropna(subset=['zip_code'])

<ipython-input-67-0ac996c453f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['zip_code'] = X['zip_code'].astype(str)

In [68]:
X_encoded = pd.get_dummies(X, columns=['zip_code', 'hasAC', 'hasBasement','quality', 'buildingdis', 'hasFireplace', 'hasGarage', 'stories', 'view'] , drop_first=True)

In [72]:
X_encoded.head()

,Age,numRooms,logarea,zip_code_19103.0,zip_code_19104.0,zip_code_19106.0,zip_code_19107.0,zip_code_19111.0,zip_code_19112.0,zip_code_19114.0,...,hasBasement_Y,quality_Good,buildingdis_Row,buildingdis_TWIN,hasFireplace_Y,hasGarage_Y,stories_multiple,stories_single,view_Typical,view_Urban
2,74,0,7,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0
4,104,0,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
49,134,0,7,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,0
75,109,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
171,74,0,8,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0

In [71]:
# Fit the linear regression model
X_encoded = X_encoded.astype(int)

reg1 = sm.OLS(y, X_encoded).fit()

# Get the summary statistics
summary_reg1 = reg1.summary()

print(summary_reg1)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:             sale_price   R-squared (uncentered):                   0.647
Model:                            OLS   Adj. R-squared (uncentered):              0.647
Method:                 Least Squares   F-statistic:                          1.071e+04
Date:                Wed, 10 Apr 2024   Prob (F-statistic):                        0.00
Time:                        16:23:21   Log-Likelihood:                     -4.7995e+06
No. Observations:              356342   AIC:                                  9.599e+06
Df Residuals:                  356281   BIC:                                  9.600e+06
Df Model:                          61
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Age               -659.5148     11.595    -56.878      0.000    -682.241    -636.788
numRooms          1.021e+04    164.027     62.273      0.000    9892.878    1.05e+04
logarea           6.411e+04    420.372    152.516      0.000    6.33e+04    6.49e+04
zip_code_19103.0  1.059e+05   3818.357     27.723      0.000    9.84e+04    1.13e+05
zip_code_19104.0   -2.3e+05   4218.867    -54.524      0.000   -2.38e+05   -2.22e+05
zip_code_19106.0  1.036e+05   3919.527     26.440      0.000     9.6e+04    1.11e+05
zip_code_19107.0 -2.117e+04   4599.296     -4.604      0.000   -3.02e+04   -1.22e+04
zip_code_19111.0 -3.124e+05   3822.475    -81.718      0.000    -3.2e+05   -3.05e+05
zip_code_19112.0 -4.163e+05   1.71e+05     -2.433      0.015   -7.52e+05   -8.09e+04
zip_code_19114.0 -3.128e+05   4019.161    -77.821      0.000   -3.21e+05   -3.05e+05
zip_code_19115.0 -3.311e+05   4152.863    -79.720      0.000   -3.39e+05   -3.23e+05
zip_code_19116.0 -3.179e+05   4131.342    -76.955      0.000   -3.26e+05    -3.1e+05
zip_code_19118.0 -1.416e+05   5368.127    -26.372      0.000   -1.52e+05   -1.31e+05
zip_code_19119.0 -3.051e+05   4159.358    -73.362      0.000   -3.13e+05   -2.97e+05
zip_code_19120.0 -3.417e+05   3720.857    -91.831      0.000   -3.49e+05   -3.34e+05
zip_code_19121.0 -2.755e+05   4047.423    -68.057      0.000   -2.83e+05   -2.68e+05
zip_code_19122.0 -2.462e+05   4403.562    -55.898      0.000   -2.55e+05   -2.38e+05
zip_code_19123.0 -1.249e+05   4153.375    -30.065      0.000   -1.33e+05   -1.17e+05
zip_code_19124.0 -3.348e+05   3713.405    -90.162      0.000   -3.42e+05   -3.28e+05
zip_code_19125.0 -1.891e+05   3893.270    -48.562      0.000   -1.97e+05   -1.81e+05
zip_code_19126.0 -3.581e+05   4641.885    -77.138      0.000   -3.67e+05   -3.49e+05
zip_code_19127.0 -2.179e+05   5064.124    -43.031      0.000   -2.28e+05   -2.08e+05
zip_code_19128.0 -2.994e+05   3859.707    -77.574      0.000   -3.07e+05   -2.92e+05
zip_code_19129.0  -2.48e+05   4719.306    -52.554      0.000   -2.57e+05   -2.39e+05
zip_code_19130.0 -1.257e+05   3858.195    -32.587      0.000   -1.33e+05   -1.18e+05
zip_code_19131.0 -3.321e+05   3942.444    -84.237      0.000    -3.4e+05   -3.24e+05
zip_code_19132.0 -3.244e+05   4072.385    -79.655      0.000   -3.32e+05   -3.16e+05
zip_code_19133.0 -3.355e+05   4618.014    -72.645      0.000   -3.45e+05   -3.26e+05
zip_code_19134.0 -3.015e+05   3661.347    -82.344      0.000   -3.09e+05   -2.94e+05
zip_code_19135.0 -3.135e+05   3859.609    -81.232      0.000   -3.21e+05   -3.06e+05
zip_code_19136.0 -3.177e+05   3939.922    -80.648      0.000   -3.25e+05    -3.1e+05
zip_code_19137.0 -3.066e+05   4893.005    -62.661      0.000   -3.16e+05   -2.97e+05
zip_code_19138.0 -3.291e+05   4047.553    -81.302      0.000   -3.37e+05   -3.21e+05
zip_code_19139.0 -3.072e+05   3937.465    -78.027      0.000   -3.15e+05      -3e+05
zip_code_19140.0 -3.411e+05   3812.572    -89.466      0.000   -3.49e+05   -3.34e+05
zip_code_19141.0 -3.382e+05   4127.227    -81.955      0.000   -3.46e+05    -3.3e+05
zip_code_19142.0 -3.162e+05   3997.037    -79.113      0.000   -3.24e+05   -3.08e+05
zip_code_19143.0 -2.919e+05   3797.021    -76.870      0.000   -2.99e+05   -2.84e+05
zip_code_19144.0 -3.306e+05   4031.012    -82.015      0.000   -3.39e+05   -3.23e+05
zip_code_19145.0 -2.476e+05   3731.018    -66.357      0.000   -2.55e+05    -2.4e+05
zip_code_19146.0 -1.314e+05   3656.032    -35.938      0.000   -1.39e+05   -1.24e+05
zip_code_19147.0 -1.078e+05   3724.845    -28.942      0.000   -1.15e+05   -1.01e+05
zip_code_19148.0 -2.368e+05   3671.033    -64.507      0.000   -2.44e+05    -2.3e+05
zip_code_19149.0 -3.048e+05   3683.769    -82.736      0.000   -3.12e+05   -2.98e+05
zip_code_19150.0 -3.483e+05   4221.932    -82.508      0.000   -3.57e+05    -3.4e+05
zip_code_19151.0 -3.187e+05   3993.273    -79.821      0.000   -3.27e+05   -3.11e+05
zip_code_19152.0 -3.175e+05   4121.471    -77.035      0.000   -3.26e+05   -3.09e+05
zip_code_19153.0 -3.267e+05   4821.423    -67.755      0.000   -3.36e+05   -3.17e+05
zip_code_19154.0 -3.238e+05   4021.581    -80.516      0.000   -3.32e+05   -3.16e+05
zip_code_nan     -2.441e+05   5.17e+04     -4.722      0.000   -3.45e+05   -1.43e+05
hasAC_Y           6.146e+04    763.476     80.499      0.000       6e+04     6.3e+04
hasBasement_Y     4923.7072    657.262      7.491      0.000    3635.493    6211.922
quality_Good      3.117e+04   1246.515     25.007      0.000    2.87e+04    3.36e+04
buildingdis_Row  -3.719e+04   1089.064    -34.148      0.000   -3.93e+04   -3.51e+04
buildingdis_TWIN -3.834e+04   1166.254    -32.875      0.000   -4.06e+04   -3.61e+04
hasFireplace_Y    6.388e+04   1745.074     36.603      0.000    6.05e+04    6.73e+04
hasGarage_Y       1.052e+05   1602.424     65.651      0.000    1.02e+05    1.08e+05
stories_multiple  8.715e+04    928.751     93.834      0.000    8.53e+04     8.9e+04
stories_single   -4683.8440    913.941     -5.125      0.000   -6475.141   -2892.547
view_Typical      2.131e+04   1497.100     14.237      0.000    1.84e+04    2.42e+04
view_Urban        1.534e+04   2683.286      5.718      0.000    1.01e+04    2.06e+04
==============================================================================
Omnibus:                   278865.095   Durbin-Watson:                   1.408
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9817536.594
Skew:                           3.496   Prob(JB):                         0.00
Kurtosis:                      27.745   Cond. No.                     5.39e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 5.39e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [74]:
from sklearn.model_selection import train_test_split

zip_code_columns = [col for col in X_encoded.columns if col.startswith('zip_code')]


X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.4, random_state=42)

In [77]:
reg1 = sm.OLS(y_train, X_train).fit()

# Make predictions on the test set
y_pred = reg1.predict(X_test)

# Create a DataFrame to store actual and predicted values
results_df = pd.DataFrame({'Actual_Sale_Price': y_test, 'Predicted_Sale_Price': y_pred})

In [79]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mae = mean_absolute_error(y_test, y_pred)

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Calculate Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

## Other Possible Machine Learning Approaches

In [ ]:
# try random forest
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Initialize the Random Forest model
rf_model = RandomForestRegressor()

# Fit the model to the training data
rf_model.fit(X_train, y_train)

# Make predictions on the testing data
rf_predictions = rf_model.predict(X_test)

# Calculate Mean Squared Error (MSE)
rf_mse = mean_squared_error(y_test, rf_predictions)
print("Random Forest Mean Squared Error:", rf_mse)

In [ ]:
# try lasso

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

lasso = Lasso(alpha=1.0)
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

In [ ]:
mse1 = mean_squared_error(y_test, y_pred)

In [ ]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

# Standardize the input features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the MLP model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)  # Output layer with one neuron for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

# Evaluate the model on the testing data
y_pred = model.predict(X_test_scaled)

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

Epoch 1/50
7127/7127 [==============================] - 25s 3ms/step - loss: 47436472320.0000 - val_loss: 34351159296.0000
Epoch 2/50
7127/7127 [==============================] - 19s 3ms/step - loss: 34152699904.0000 - val_loss: 33786771456.0000
Epoch 3/50
7127/7127 [==============================] - 23s 3ms/step - loss: 33729110016.0000 - val_loss: 33458165760.0000
Epoch 4/50
7127/7127 [==============================] - 19s 3ms/step - loss: 33413384192.0000 - val_loss: 33149462528.0000
Epoch 5/50
7127/7127 [==============================] - 22s 3ms/step - loss: 33111486464.0000 - val_loss: 32838850560.0000
Epoch 6/50
7127/7127 [==============================] - 21s 3ms/step - loss: 32801413120.0000 - val_loss: 32503420928.0000
Epoch 7/50
7127/7127 [==============================] - 22s 3ms/step - loss: 32468121600.0000 - val_loss: 32152971264.0000
Epoch 8/50
7127/7127 [==============================] - 21s 3ms/step - loss: 32095676416.0000 - val_loss: 31754862592.0000
Epoch 9/50
7127/7127 [==============================] - 21s 3ms/step - loss: 31699150848.0000 - val_loss: 31350026240.0000
Epoch 10/50
7127/7127 [==============================] - 19s 3ms/step - loss: 31347431424.0000 - val_loss: 31030327296.0000
Epoch 11/50
7127/7127 [==============================] - 22s 3ms/step - loss: 31088947200.0000 - val_loss: 30804430848.0000
Epoch 12/50
7127/7127 [==============================] - 19s 3ms/step - loss: 30912444416.0000 - val_loss: 30678812672.0000
Epoch 13/50
7127/7127 [==============================] - 21s 3ms/step - loss: 30789718016.0000 - val_loss: 30551658496.0000
Epoch 14/50
7127/7127 [==============================] - 19s 3ms/step - loss: 30692515840.0000 - val_loss: 30461569024.0000
Epoch 15/50
7127/7127 [==============================] - 20s 3ms/step - loss: 30610515968.0000 - val_loss: 30382086144.0000
Epoch 16/50
7127/7127 [==============================] - 20s 3ms/step - loss: 30533398528.0000 - val_loss: 30321168384.0000
Epoch 17/50
7127/7127 [==============================] - 21s 3ms/step - loss: 30467813376.0000 - val_loss: 30259494912.0000
Epoch 18/50
7127/7127 [==============================] - 21s 3ms/step - loss: 30402095104.0000 - val_loss: 30198059008.0000
Epoch 19/50
7127/7127 [==============================] - 24s 3ms/step - loss: 30345209856.0000 - val_loss: 30136924160.0000
Epoch 20/50
7127/7127 [==============================] - 21s 3ms/step - loss: 30285549568.0000 - val_loss: 30098300928.0000
Epoch 21/50
7127/7127 [==============================] - 19s 3ms/step - loss: 30231160832.0000 - val_loss: 30022531072.0000
Epoch 22/50
7127/7127 [==============================] - 20s 3ms/step - loss: 30181230592.0000 - val_loss: 29982849024.0000
Epoch 23/50
7127/7127 [==============================] - 19s 3ms/step - loss: 30130391040.0000 - val_loss: 29940873216.0000
Epoch 24/50
7127/7127 [==============================] - 19s 3ms/step - loss: 30087094272.0000 - val_loss: 29908070400.0000
Epoch 25/50
7127/7127 [==============================] - 20s 3ms/step - loss: 30042433536.0000 - val_loss: 29861752832.0000
Epoch 26/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29995210752.0000 - val_loss: 29815515136.0000
Epoch 27/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29959049216.0000 - val_loss: 29773201408.0000
Epoch 28/50
7127/7127 [==============================] - 18s 3ms/step - loss: 29916162048.0000 - val_loss: 29755701248.0000
Epoch 29/50
7127/7127 [==============================] - 21s 3ms/step - loss: 29877006336.0000 - val_loss: 29716004864.0000
Epoch 30/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29839177728.0000 - val_loss: 29683742720.0000
Epoch 31/50
7127/7127 [==============================] - 24s 3ms/step - loss: 29797967872.0000 - val_loss: 29657942016.0000
Epoch 32/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29762459648.0000 - val_loss: 29619474432.0000
Epoch 33/50
7127/7127 [==============================] - 21s 3ms/step - loss: 29722968064.0000 - val_loss: 29580599296.0000
Epoch 34/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29685084160.0000 - val_loss: 29544439808.0000
Epoch 35/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29646309376.0000 - val_loss: 29495871488.0000
Epoch 36/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29609484288.0000 - val_loss: 29464827904.0000
Epoch 37/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29572124672.0000 - val_loss: 29443037184.0000
Epoch 38/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29536155648.0000 - val_loss: 29412632576.0000
Epoch 39/50
7127/7127 [==============================] - 22s 3ms/step - loss: 29499375616.0000 - val_loss: 29364226048.0000
Epoch 40/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29459750912.0000 - val_loss: 29338779648.0000
Epoch 41/50
7127/7127 [==============================] - 22s 3ms/step - loss: 29422059520.0000 - val_loss: 29309583360.0000
Epoch 42/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29386063872.0000 - val_loss: 29273311232.0000
Epoch 43/50
7127/7127 [==============================] - 18s 3ms/step - loss: 29350567936.0000 - val_loss: 29236504576.0000
Epoch 44/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29318041600.0000 - val_loss: 29210482688.0000
Epoch 45/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29282947072.0000 - val_loss: 29173534720.0000
Epoch 46/50
7127/7127 [==============================] - 21s 3ms/step - loss: 29249003520.0000 - val_loss: 29145153536.0000
Epoch 47/50
7127/7127 [==============================] - 19s 3ms/step - loss: 29214341120.0000 - val_loss: 29112451072.0000
Epoch 48/50
7127/7127 [==============================] - 21s 3ms/step - loss: 29184083968.0000 - val_loss: 29096962048.0000
Epoch 49/50
7127/7127 [==============================] - 20s 3ms/step - loss: 29150996480.0000 - val_loss: 29054230528.0000
Epoch 50/50
7127/7127 [==============================] - 22s 3ms/step - loss: 29116766208.0000 - val_loss: 29028249600.0000
2228/2228 [==============================] - 4s 2ms/step
Mean Squared Error (MSE): 28896883664.53937

In [ ]:
# check attribtue name
properties.columns.tolist()

['objectid',
 'assessment_date',
 'basements',
 'beginning_point',
 'book_and_page',
 'building_code',
 'building_code_description',
 'category_code',
 'category_code_description',
 'census_tract',
 'central_air',
 'cross_reference',
 'date_exterior_condition',
 'depth',
 'exempt_building',
 'exempt_land',
 'exterior_condition',
 'fireplaces',
 'frontage',
 'fuel',
 'garage_spaces',
 'garage_type',
 'general_construction',
 'geographic_ward',
 'homestead_exemption',
 'house_extension',
 'house_number',
 'interior_condition',
 'location',
 'mailing_address_1',
 'mailing_address_2',
 'mailing_care_of',
 'mailing_city_state',
 'mailing_street',
 'mailing_zip',
 'market_value',
 'market_value_date',
 'number_of_bathrooms',
 'number_of_bedrooms',
 'number_of_rooms',
 'number_stories',
 'off_street_open',
 'other_building',
 'owner_1',
 'owner_2',
 'parcel_number',
 'parcel_shape',
 'quality_grade',
 'recording_date',
 'registry_number',
 'sale_date',
 'sale_price',
 'separate_utilities',
 'sewer',
 'site_type',
 'state_code',
 'street_code',
 'street_designation',
 'street_direction',
 'street_name',
 'suffix',
 'taxable_building',
 'taxable_land',
 'topography',
 'total_area',
 'total_livable_area',
 'type_heater',
 'unfinished',
 'unit',
 'utility',
 'view_type',
 'year_built',
 'year_built_estimate',
 'zip_code',
 'zoning',
 'pin',
 'building_code_new',
 'building_code_description_new',
 'shape']

In [ ]:
y_test.describe()

count    7.126900e+04
mean     1.888969e+05
std      2.182241e+05
min      1.000600e+04
25%      5.600000e+04
50%      1.250000e+05
75%      2.400000e+05
max      1.992500e+06
Name: sale_price, dtype: float64

In [ ]:
# Read in census data
import requests

# Your API key
api_key = "77ba26a94bf747d61761544063606374da01af62"

# Base URL for Census API
url = "https://api.census.gov/data/2019/acs/acs5"

# Parameters for the API request
# Adjusting to fetch data for all census tracts within Philadelphia County (county code 101) in Pennsylvania (state code 42)
params = {
    "get": "B01003_001E",  # Total population
    'for': 'tract:*',  # All tracts
    'in': 'state:42 county:101',  # Within Philadelphia County, Pennsylvania
    "key": api_key
}

# Make the API request
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    # Convert the response to JSON
    data = response.json()
    # Create a pandas DataFrame
    # The DataFrame includes the total population for each tract in Philadelphia County
    census = pd.DataFrame(data[1:], columns=data[0])
    # Optionally, convert tract and county codes to numeric and sort
    census[['state', 'county', 'tract']] = df[['state', 'county', 'tract']].apply(pd.to_numeric)
    census.sort_values(by=['tract'], inplace=True)
    print("Successful Download")
else:
    print(f"Failed to fetch data: {response.status_code}")

Successful Download